<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="margin-left: 15px; margin-right: 15px">
      AngularCRUD</a
    >

    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Add-book"
            >Add Books</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/book-list"
            >Show Books</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
